{{!
    @template local_booking/redirect_handler

    Handles redirect after grading

    Context variables:
    * redirecturl - URL to redirect to
    * delay - Delay before redirect (milliseconds)
}}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">{{#str}} gradesaved, local_booking {{/str}}</h4>
    <p>{{#str}} redirectingtostudentreport, local_booking {{/str}}</p>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated"
             role="progressbar"
             style="width: 100%"></div>
    </div>
</div>

{{#js}}
require(['jquery'], function($) {
    setTimeout(function() {
        window.location.href = '{{{redirecturl}}}';
    }, {{delay}});
});
{{/js}}
